:root {
  --qacolor1: #4e3eff;
  --qacolor2: #d5d2ff;
  --qacolor3: #f3f2ff;
  --qacolor4: #e4e4ff;
  --qacolor5: 255, 255, 255;
  --qacolor6: #d5d2ff;
  --qacolor7: #4e3eff;
  --qacolor8: #4e3eff;
  --qacolor9: #4e3eff;
  --qacolor10: #f3f2ff;
  --qacolor11: #4e3eff;
  --qacolor12: #b5baf8;
  --qacolor13: #bac7ff;
  --funqacolor1: #d9d6ff;
  --funqacolor2: #4e3eff;
  --funqacolor3: #ffffff;
  --funqacolor4: #4e3eff;
  --funqacolor5: #d5dcea;
  --edqacolor1: #4e3eff;
  --edqacolor2: #ffffff;
  --edqacolor3: #d5d2ff;
  --edqacolor4: #4e3eff;
  --edqacolor5: #d7ddf7;
  --qacolorth: #f3f2ff;
  --qacolorths: #8682ba;
  --qacolor14: #4e3eff;
  --qacolor15: #8682ba;
  --qacolor16: #8682ba;
  --qacolor17: #7e9195;
  --yoo-font-size-base: 10px;
  --qapconfirmcolor: #ffffff;
}
