$themeColor: #4E3EFF;
$themeHoverColor: #6052FF;
$textColor: #41464b;
$borderColor: #eee;
$hoverbg: #f9f9f9;
$lightColor:#dddaff;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 8rem;

$drageModalWidth:289rem;
$drageModalMaxH:740rem;